<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">form</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex items-center justify-center h-full bg-slate-100">
    <div
      class="border border-slate-200 p-[3rem]  rounded-lg shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)] w-full mx-[20rem] bg-white">
      <h2 class="text-2xl font-semibold tracking-normal mb-[2rem]">Sign in to your account</h2>
      <form  class="flex flex-col justify-center gap-1">

        <div class="mb-5">
          <label for="email" class="mb-1 tracking-wide">Email Address</label>
          <div class="flex items-center ">
            <div
              class="flex items-center justify-center px-4 py-3 font-bold border border-r-0 border-blue-200 rounded-l-lg bg-slate-100">
              <ion-icon name="at"></ion-icon>
            </div>
            <input id="email" type="email" formControlName="email"
              class="w-full transition-all border-l-0 border-blue-200 rounded-md rounded-l-none focus:border-3 focus:border-blue-200" />
          </div>
          <div >
            <div  class="mt-1 text-xs tracking-wide text-red-700">Please
              enter a valid email address.</div>
            <div  class="mt-1 text-xs tracking-wide text-red-700">
              Email
              field are required.</div>
          </div>

        </div>

        <div class="mb-5">
          <label for="password" class="mb-1 tracking-wide">Password</label>
          <div class="flex items-center">
            <div
              class="flex items-center justify-center px-4 py-3 font-bold border border-r-0 border-blue-200 rounded-l-lg bg-slate-100">
              <ion-icon name="lock-closed"></ion-icon>
            </div>
            <input id="password" type="password" formControlName="password"
              class="w-full transition-all border-l-0 border-blue-200 rounded-md rounded-l-none focus:border-3 focus:border-blue-200" />
          </div>
          <div >
            <div  class="mt-1 text-xs tracking-wide text-red-700">
              Password field are required.</div>
          </div>
        </div>

        <button type="submit" 
          class="w-full text-center bg-blue-700 p-3 rounded-lg text-white font-bold hover:shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] transition-all cursor-pointer disabled:bg-blue-900 disabled:text-slate-500 disabled:cursor-not-allowed hover:text-slate-100 hover:bg-blue-800">Login</button>
      </form>
      <p class="text-slate-600 mt-[2rem]">Don't have account yet? <span class="text-blue-700 hover:underline">Click
          here!</span> </p>
    </div>
  </div>

</ion-content>
